<script>
    $(document).ready(function() {
        $(".rateOneStar").rate({
            readonly: true,
            initial_value: 1
        });
        $(".rateTwoStar").rate({
            readonly: true,
            initial_value: 2
        });
        $(".rateThreeStar").rate({
            readonly: true,
            initial_value: 3
        });
        $(".rateFourStar").rate({
            readonly: true,
            initial_value: 4
        });
        $(".rateTwoYearsAndMeio").rate({
            readonly: true,
            initial_value: 2.5,
            selected_symbol_type: "fontawesome_calendar"
        });
    });
</script>
<style>
    @media (max-width: 600px) {
        .flex-container ul {
            padding-left: 0px;
        }
    }
    @media (min-width: 600px) {
        .flex-container .primeiro-ul {
            padding-left: 0px;
        }
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .empresa-experiencia {
        width: 20em;
        border: 2px;
        border-color: black;
        border-style: inset;
    }

    .flex-container li {
        display: flex;
        font-size: 1.1rem;
    }
    .flex-container span {
        width: 75px;
    }
    .rate {
        margin-left: 15px;
        height: 25px !important;
    }

    .rate-base-layer,
    .rate-select-layer {
        height: 25px !important;
    }

    .rate .rate-select-layer {
        color: orange;
    }
    .empresa-experiencia span {
        font-size: 1.1rem;
    }
    .empresa-experiencia .rate .rate-select-layer {
        color: blue;
    }
</style>
