---
layout: compress
---

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
    <!--<![endif]-->
    <head>
        {% include head.html %}
    </head>
    <body>
        {% include scripts.html %} {% include about.html %}
        <!-- Header -->
        <header class="header" role="banner">
            <div class="wrapper animated fadeIn">
                <div class="content">
                    <div
                        class="post-title {% if page.feature %} feature {% endif %}"
                    >
                        <h1>{{ page.title }}</h1>
                        <a class="btn zoombtn" href="{{ site.url }}">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                    </div>
                    {{ content }}

                    <center><h2>Principais Experiências</h2></center>
                    <div class="flex-container">
                        <div class="empresa-experiencia">
                            <h3>Freedom Tecnologia</h3>
                            <div class="rate rateTwoYearsAndMeio"></div>
                            <span>2 anos e meio</span>
                            <br />
                            <span>Programador Júnior</span>
                        </div>
                        <div class="empresa-experiencia">
                            <h3>Capgemini</h3>
                            <span>1 ano</span>
                            <br />
                            <span>Programador Pleno</span>
                        </div>
                        <div class="empresa-experiencia">
                            <h3>Topos Informática</h3>
                            <span>1 ano</span>
                            <br />
                            <span>Desenvolvedor Pleno</span>
                        </div>
                        <div class="empresa-experiencia">
                            <h3>ThoughtWorks</h3>
                            <span>1 ano (atual)</span>
                            <br />
                            <span>Consultant Developer</span>
                        </div>
                    </div>
                    <center><h2>Habilidades Técnicas</h2></center>
                    <div class="flex-container">
                        <ul class="primeiro-ul">
                            <li>
                                <span>Bootstrap</span>
                                <div class="rate rateTwoStar"></div>
                            </li>
                            <li>
                                <span>CI</span>
                                <div class="rate rateThreeStar"></div>
                            </li>
                            <li>
                                <span>CSS</span>
                                <div class="rate rateThreeStar"></div>
                            </li>
                            <li>
                                <span>Docker</span>
                                <div class="rate rateOneStar"></div>
                            </li>
                            <li>
                                <span>HTML</span>
                                <div class="rate rateFourStar"></div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span>Java</span>
                                <div class="rate rateFourStar"></div>
                            </li>
                            <li>
                                <span>Javascript</span>
                                <div class="rate rateTwoStar"></div>
                            </li>
                            <li>
                                <span>Mongo</span>
                                <div class="rate rateTwoStar"></div>
                            </li>
                            <li>
                                <span>MySql</span>
                                <div class="rate rateFourStar"></div>
                            </li>
                            <li>
                                <span>Node JS</span>
                                <div class="rate rateTwoStar"></div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span>Oracle</span>
                                <div class="rate rateTwoStar"></div>
                            </li>
                            <li>
                                <span>Postgres</span>
                                <div class="rate rateTwoStar"></div>
                            </li>
                            <li>
                                <span>React</span>
                                <div class="rate rateTwoStar"></div>
                            </li>
                            <li>
                                <span>SQL</span>
                                <div class="rate rateFourStar"></div>
                            </li>
                            <li>
                                <span>Splunk</span>
                                <div class="rate rateTwoStar"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% if page.comments and site.disqus_shortname %}
            <section id="disqus_thread" class="animated fadeInUp"></section>
            <!-- /#disqus_thread -->{% endif %}
        </header>
        {% if site.mathjax == true %}
        <!-- MathJax -->
        <script
            async
            src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
        ></script>
        {% endif %}
    </body>
</html>
